  
#full-height {
    
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: #598ef4;
    color: white;
    font-size: 30px;
    text-align: center;
}

img{
    display:block;
    margin:auto;
}